* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #111111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}